/*large Device, wide screan*/
@media only screen and (max-width: 1200px){
    body {
        background-color: darkcyan;
    }
}

/*Medium Device, Desctop*/
@media only screen and (max-width: 992px){
    body {
        background-color: red;
    }

}
/*Small Devices, Tablet*/
@media only screen and (max-width: 768px){
    body {
        background-color: blue;
    }
}
/*Extra Small Devices, Phones*/
@media only screen and (max-width: 480px){
     body {
        background-color: green;
    }
}
/*Custom, iPhone Retina*/
@media only screen and (max-width: 320px){
    body {
        background-color: gray;
    }
}