

/*Extra Small Devices, Phones*/
/*@media  screen and (min-width: 480px){
     body {
       background-color: green;
    }
}*/
/*Small Devices, Tablet*/
@media  screen and (min-width: 480px){
    body {
        background-color: blue;
    }
}
/*Medium Device, Desctop*/
@media screen and (min-width: 992px){
    body {
        background-color: red;
    }

}
/*large Device, wide screan*/
@media screen and (min-width: 1200px){
    body {
        background-color: darkcyan;
    }
}
