*{
    margin: 0;
    border: 0;
}
body{
    max-width: 1000px;
    margin: 0 auto;
}
.link_social{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    }
.img1{
    margin-bottom: 40px;
}
.photo {
   display: flex;
    
}
.photo11 {
   display: flex;
}
.photo12 {
   display: flex;
    
}
.photo111 {
   display: flex;
    flex-direction: column;
    
}
.photo112 {
   display: flex;
    flex-direction: column;
    
}
.photo113 {
   display: flex;
    flex-direction: column;
   
}
.photo114 {
   display: flex;
    flex-direction: column;
   
}
.conteiner{
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    width: 100%;
}
    
.content{
 max-width: 50%;
    display: flex;
    background-color: #e6d8d7;
    text-align: center;
    margin: 20px 10px 20px 20px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    }
.text_h1{
        font-size: 35px;
    font-family: 'Red Hat Display', sans-serif;
    } 
    .text_p{
        font-size: 17.5px;
        font-family: 'Red Hat Display', sans-serif;
    }

    
}
.shaped{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  
}   

.map_text{
    text-align: center;
}
.link_mail{
    color: black;
}
.map_map{
    margin-bottom: 40px;
}


.price33{
display: flex;
    margin-bottom: 50px;
}
.text1{
    margin: 10px;
}
.text2{
    margin: 10px;
}.text3{
    margin: 10px;
}
.img2{
   max-width: 100%; 
}
@media screen and (max-width: 1200px){
    body {
       /* background-color: darkcyan;*/
    }
    
        }
    

@media screen and (max-width: 992px){
    body {
       /* background-color: red;*/
    }
    /*.text_h1{
        font-size: 25px;
    } 
    .text_p{
        font-size: 12px;
    }*/
.conteiner {
   margin-top: 29px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    width: 100%;
}
    .img2{
       
    }
    .text_h1{
        font-size: 40px;
    }
    .text_p {
        font-size: 20px
    }
}
/*Small Devices, Tablet*/
@media  screen and (max-width: 720px){
    body {
       /* background-color: blue;*/
    }
    .content{
        max-width: 80%;
    }

    .price33{
        display: block;
    }
    .text1{ display: flex;
    justify-content: center;
    margin: 20px 0;}
    .text1_img{width: 70%; }
    .text2{display: flex;
    justify-content: center;
    margin: 20px 0;}
     .text2_img{width: 70%;}
    .text3{display: flex;
    justify-content: center;
    margin: 20px 0;}
     .text3_img{width: 70%;}
}
/*Extra Small Devices, Phones*/
@media  screen and (max-width: 480px){
     body {
      /* background-color: green;*/
    }
}
@media  screen and (max-width: 375px){
     body {
      /* background-color: gray;*/
    }
}